<section>
    <h2>Members</h2>
    <div>
        @for(member of members(); track member.userId){
            <div>
                <h3>{{member.user?.name}}</h3>
                <select (change)="selectMemberSector($event, member.userId)">
                    <option value="">No sector</option>
                    @for(sector of sectors(); track sector.id){
                        <option [value]="sector.id" [selected]="member.sectorId === sector.id">{{sector.name}}</option>
                    }
                </select>
            </div>
        }
    </div>
</section>
@if(ownMembership()?.role === 'MANAGER'){
    <section>
        <h2>Invited members</h2>
        <ul>
            @for(member of invitedMembers(); track member.userId){
                <li>{{member.user?.name}}</li>
            }
        </ul>
    </section>
    <form (submit)="inviteMember($event)">
        <label for="email">Email</label>
        <input id="email" type="email" [formField]="inviteForm.email" />

        <button type="submit">Invite Member</button>
    </form>
}